<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="unspecified"
            tools:replace="android:configChanges,android:screenOrientation" />
        <activity
            android:name=".config.ConfigActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".config.CompatibilityTestActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".settings.KeyMapperActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".filepicker.FilteredFilePickerActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".config.ProfilesActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
    </application>

</manifest>
